main {
  color: #000000;
}

.form {
  border: 4px groove;
}

.theme {
  background-color: #d4d4d4;
  color: #262525;
}

.theme-dark {
  background-color: #262525;
  color: rgba(245, 209, 63, 0.68);
}

